<div class="container contact">

	<h1 class="title">Contact Me</h1>
	<div>
		<hr>
		<div class="row">
			<contact-wc icon="mail" title="EMAIL" 
				description="javier.caballero.abenza@gmail.com"
				href="mailto:javier.caballero.abenza@gmail.com"
			>		
			</contact-wc>
			
			<contact-wc icon="communication:phone" title="PHONE"
				description="+34 625355635"
				href="http://telegram.me/fjcaballero"
				target="_blank"
			>		
			</contact-wc>

			<contact-wc image="github-light.png" title="GITHUB"
				description="fjcaballero"
				href="http://github.com/fjcaballero"
				target="_blank"
			>		
			</contact-wc>
		</div>
	</div>

	<div>
		<hr>
		<div class="row">
			<contact-wc image="linkedin.png" background="empty"
				href="https://www.linkedin.com/in/javi-caballero-b746ba96/"
				target="_blank"
			>		
			</contact-wc>

			<contact-wc image="twitter.png" background="empty"
				href="https://twitter.com/Javichuck"
				target="_blank"
			>		
			</contact-wc>

			<contact-wc image="facebook.png" background="empty"
				href="https://www.facebook.com/javiker93"
				target="_blank"
			>		
			</contact-wc>

			<contact-wc image="youtube.png" background="empty"
				href="https://www.youtube.com/channel/UCGI2iYOiBBbsCEDeMrqwuHQ"
				target="_blank"
			>		
			</contact-wc>
		</div>
	</div>
</div>