<div class="contact-container">
	
	<div class="contact-info">

		<h1 class="title">Contact Me</h1>

		<hr>

		<contact-wc icon="mail" title="EMAIL" 
			description="javier.caballero.abenza@gmail.com"
			href="mailto:javier.caballero.abenza@gmail.com"
		>		
		</contact-wc>
		
		<contact-wc icon="communication:phone" title="PHONE"
			description="+34 625355635"
			href="http://telegram.me/fjcaballero"
			target="_blank"
		>		
		</contact-wc>

		<contact-wc image="github-light.png" title="GITHUB"
			description="fjcaballero"
			href="http://github.com/fjcaballero"
			target="_blank"
		>		
		</contact-wc>

	</div>
</div>
