<div class="container" >
	
	<div class="info">

		<img class="profileImg" src="https://img.clipartfest.com/cdcde5f57bee760b49629321f929babb_men-in-suits-pictures-cliparts-clipart-man-in-suit_1500-1500.png">

		<div class="vr"></div>

		<div class="detail">
			<span class="name">Javi Caballero</span>
			<span class="title">{{words.title}}</span>
			<a href="mailto:javier.caballero.abenza@gmail.com">
				<iron-icon icon="mail"></iron-icon>
				javier.caballero.abenza@gmail.com
			</a>
			<a href="http://telegram.me/fjcaballero" target="_blank">
				<iron-icon icon="communication:phone"></iron-icon>
				+34 625355635
			</a>
			<a class="githubRef" href="https://github.com/fjcaballero" target="_blank">
				<iron-icon class="githubIcon" src="github-white.png"></iron-icon>
				fjcaballero
			</a>			
		</div>

	</div>

	<div class="links">
		<a href="/services">
			<div class="linkBtn">
				{{words.services}}
			</div>
		</a>
		<a href="/projects">
			<div class="linkBtn">
				{{words.projects}}
			</div>
		</a>
		<a href="files/javicaballero_cv.pdf" target="_blank">
			<div class="linkBtn">
				<iron-icon src="resume.png"></iron-icon>
			</div>
		</a>
	</div>

</div>