<div class="container" >
	
	<div class="info">

		<img class="profileImg" src="favicon.png">

		<div class="vr"></div>

		<div class="detail">
			<span class="name">Javi Caballero</span>
			<span class="title">{{words.title}}</span>
		</div>

	</div>

	<string2html-wc class="description"
		string="{{words.description}}" 
	></string2html-wc>

</div>

<style type="text/css">

	.container{
		display: flex;
		flex-direction: column;
		min-height: calc(100% - 30px);
		padding: 15px;
		color: #616161;
	}

	.info, .description{
		align-self: center;
		display: inline-flex;
		align-items: flex-start;
		justify-content: center;
		flex-wrap: wrap;
		opacity: 0.9;
		padding: 20px;
		background-color: rgba(255,255,255,0.7);
	}

	.profileImg{
		width: 150px;
		border-radius: 100px;
	}

	.vr{
		border: 1px solid #616161;
		min-height: 250px;
		margin-left: 20px;
		margin-right: 20px;
	}

	.profileImg, .detail{
		display: inline-flex;
		flex-direction: column;
		align-self: center;
	}

	.name, .title{
		display: block;
		margin: auto;
		text-align: center;
	}

	.name{
		font-size: 64px;
	}

	.title{
		font-size: 32px;
	}

	.description{
		margin-top: 40px;
		max-width: 80%;
		font-size: 20px;
		text-align: justify;
	}

	@media only screen and (max-device-width : 667px) {
		.profileImg{
			margin: auto;
		}

		.vr{
			min-height: 0px;
			width: 100%;
			margin: 20px 0 20px 0;
		}
	}

</style>