<div class="container" id="webContainer">
    <div class="sweb">
        <span class="title"> Desarrollo Web </span>
        <span class="description">
            Realización de proyectos web desde pequeñas páginas para dar visibilidad a tu empresa en Internet 
            hasta complejas aplicaciones web que lleven a cabo las funciones necesarias para tu negocio.
        </span>
        <span class="subtitle"> Tecnologías </span>
        <span class="description">
            Todos mis proyectos los llevo a cabo con tecnologías novedosas que incorporan las últimas funcionalidades desarrolladas por grandes empresas del sector como Google.
            Intento trabajar siempre en la última versión de cada tecnología para aprovechar al máximo todas sus características. Algunos ejemplos de estas tecnologías son:
        </span>
        <div class="techs">
            <img class="techImg" src="webTechs.png">
            <img class="techImg" src="polymer-angular.png">
            <img class="techImg big" src="node-mongo.png">
        </div>
        <span class="subtitle"> Coste </span>
        <span class="description">
            El coste de cada proyecto es relativo a su dificultad y por tanto al tiempo que lleve realizarlo. 
            <br><br>
            También hay que tener en cuenta los costes asociados a un proyecto webcomo son el alquiler del nombre de dominio (el nombre de la página web, por ejemplo "www.javicaballero.com") 
            el servicio de hosting (lugar en el que se almacenanlos datos de tu web y que hace de servidor, "sirve" los ficheros a los usuarios que la visitan). 
            Estos costes son independientes del desarrollo y tienen una carga mensual o anual según el provedor. 
            Yo mismo realizaré un proceso de selección y le ofreceré las opciones de mejor calidad y más económicas en función de su proyecto.
            <br><br>
            Tras el análisis se realizará una estimación de las horas necesarias para realizar el proyecto y a partir de ella se obtendrá un presupuesto provisional.
            El coste final del proyecto dependerá de las horas reales empleadas en realizarlo ya sean menores o mayores de lo estimado.
            Se mantendrá informado al cliente en todo momento de cualquier variación en la estimación para poder ampliar o reducir funcionalidades para ajustarse al presupuesto inicial.
        </span>

        <a href="/contact">
            <div class="card solButton">Solicita tu proyecto</div>
        </a>
    </div>
</div>