.container{
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: #616161;
}

.info{
    display: inline-flex;
}

.detail{
    display: flex;
    flex-direction: column;
}

.links{

}

.linkBtn{

}

.profileImg{
    width: 300px;
    height: 300px;
    border-radius: 150px;
}

.vr{
    border: 1px solid #616161;
    min-height: 250px;
    margin-left: 20px;
    margin-right: 20px;
}

.name{
    font-size: 64px;
}

.title{
    font-size: 32px;
    margin-bottom: 15px;
}

.detail a{
    text-decoration: none;
    color: #616161;
    margin-bottom: 5px;
}

.detail a:hover{
    color: black;
}

.githubIcon{
    background: #616161;
    border-radius: 50px;
    padding: 1px;
}

.githubRef:hover .githubIcon{
    background: black;
}

/*

.info, .description{
    align-self: center;
    display: inline-flex;
    align-items: flex-start;
    justify-content: center;
    flex-wrap: wrap;
    opacity: 0.9;
    padding: 20px;
    background-color: rgba(255,255,255,0.7);
}


.profileImg, .detail{
    display: inline-flex;
    flex-direction: column;
    align-self: center;
}

.name, .title{
    display: block;
    margin: auto;
    text-align: center;
}

.name{
    font-size: 64px;
}

.title{
    font-size: 32px;
}

.description{
    margin-top: 40px;
    max-width: 80%;
    font-size: 20px;
    text-align: justify;
}

.cv{
    align-self: center;
    border-radius: 200px;
    background: #616161;
}

.cv:hover{
    background: #000000;
}

.cv iron-icon{
    width: 200px;
    height: 200px;
}
*/
@media only screen and (max-device-width : 667px) {
    .info{
        flex-direction: column;
        align-items: center;
        padding: 10px;
        text-align: center;
    }

    .vr{
        min-height: 0px;
        width: 100%;
        margin: 20px 0 20px 0;
    }
}