.blogContainer{
    width: 90%;
    margin-top: 20px;
}

.projectTitle{
        font-size: 48px;
}

.youtube, .github{
    width: 45%;
}

.github .card{
    max-height: 700px;
    overflow-y: scroll;
}

@media only screen and (max-device-width : 667px) {

    .youtube, .github{
        width: 100%;
        margin-bottom: 20px;
    }

}